@font-face {
	font-family: "Flaticon";
	src: url("/fonts/flaticon.eot");
	src: url("/fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("/fonts/flaticon.woff") format("woff"),
	url("/fonts/flaticon.ttf") format("truetype"),
	url("/fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-award24:before {
	content: "\e000";
}
.flaticon-medal67:before {
	content: "\e001";
}
.flaticon-premium1:before {
	content: "\e002";
}
.flaticon-shield73:before {
	content: "\e003";
}
.flaticon-sports27:before {
	content: "\e004";
}
.flaticon-star16:before {
	content: "\e005";
}
.flaticon-trophy42:before {
	content: "\e006";
}
.flaticon-trophy75:before {
	content: "\e007";
}
.flaticon-wax1:before {
	content: "\e008";
}
.flaticon-winners1:before {
	content: "\e009";
}
