.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.event-list > li > time  {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #03a9f4;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li > time >a ,.event-list > li > time >a:focus, .event-list > li > time >a:hover{
    color: rgb(255, 255, 255) !important;
}

.event-list > li time > .month {
    display: block;
    font-size: 18pt;
    font-weight: 900;
    line-height: 4;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}
.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul
{
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }

    .event-list > li > time,
    .event-list > li > img {
        display: inline-block;
    }

    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }

    .event-list > li > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }

    .event-list > li > time,
    .event-list > li > img {

        width: 185px;
        height: 120px;
        vertical-align: middle;
        display: inline-block
    }

    .event-list > li > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }

    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }

    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }

    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }

    .event-list > li > .social > ul > li {
        display: block;
        padding: 0px;
    }

    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}