@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");

body, h1, h2,h3,h4,h5, label, div{
    font-family: 'Lato', sans-serif !important;
}
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.padding {
    padding:20px ;
}
.zero-pad{
    padding: 0px;
}
.zero-margin{
    margin:0px ;
}


.stats {
    text-align:center;
    text-shadow:1px 1px 0px #fff;
    margin-top:25px;

}

.stats span{
    font-family:Helvetica;
    font-weight:bold;
    text-shadow:1px 1px 0px #fff;
    font-size:1em;

    display:block;
    line-height:1em;
}

.validated
{
    color: green;
}

.row-content{
    min-height : 34px !important;
}

#question-comments-section {
    font-size: .8em !important;
}
.response-comments-show{
    font-size: .8em !important;
}
.add-response-comment , .add-question-comment{
    font-size: .8em;
    padding: 0px;
    margin: 0px;
    box-shadow: none !important;
}
